<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Guapos</title>
	<link rel="stylesheet" type="text/css" href="Estilos.css">
</head>

<body>
	<div class="header">

		<h1>NACHO NACHO</h1>
		<p><h2> Aquí podrás encontrar sus redes sociales.</h2></p>
	</div>
	<div class="menu">
		<a href="https://www.instagram.com/nachitowapo/?hl=es-la">Instagram</a>
		<a href="https://www.facebook.com/UnTalNach">Facebook</a>
		<a href="https://zoomquilt.org/">Aquí no hay nada</a>
        <a href="https://www.tumblr.com/blog/yielding02">Tumblr</a>	

	</div>
<div class="contenido">
<div class="izquierda">
<h2>Este es NachoNacho</h2>
<h5>Está guapo</h5>
<img src="Nacho1.jpg" alt="" class="imagen" width="400px" border="2px">
</div>
</div>
<div class="derecha">
	<div class="item">
		<h2>Info</h2>
		<h5>Esta es una foto en pequéño de él</h5>
		<img src="Nacho1.jpg" width="100px" border="2px">
	</div>
</div>
<div class="footer">
	<h2>&copy; 2019 Esta página está encriptada y la informacion en esta página es de uso restringido.</h2>
</div>
</body>
</html>